body {
    background-image: "dirt.png";
    background-repeat: repeat-y;
    background-size: cover;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 14px;
    box-sizing: border-box;
}

p {
    max-width: 80%;
    min-width: 50%;
    /* font-size: 1.35em; */
}

h1 {
    font-weight: lighter;
}



.contentStyle {
    background-color: white;
    opacity: 0.7;
    width: 100%;
    float: right;
}

div section {
    background-color: white;
    opacity: 0.7;
    height: 100px;
    float: right;
}

.drawing {
    height:40%;
    width:40%;
    margin: 2px;
    float: left;
    position: relative;
}


.title {
    width: 100%;
    font-weight: lighter;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

#licorice {
    max-height:400px;
    max-width: 300px;
}

#lemonBalm {
    max-height:400px;
    max-width: 300px;
}

#progress {
    text-align: center;
    width: 100%;
    padding: 0px'

}


.questionArea {
    height: 400px;
    font-weight: 600;
    font-size: 1.35em;
}

.greeting {
    margin: auto;
    /* margin-right:0px;
    margin-left:0px; */
    font-weight: lighter;
    height: 50%;
}
h2 {
    font-size: 1.5em;
}
/* .greeting {
    margin: auto;
    font-weight: lighter;
    max-height: 40%;
} */

/* #questionSpot {
    height:550px;
} */

/* .result {
    margin: 10px;

} */

label:hover {
    color: darkgreen;
}

/* This makes the radio buttons bigger, at times they were invisible 
  and this bit of code was incredibly hard to find, 
  but I felt super lucky when I saw it on slack and am using it 
  even if it's not as necessary as it once was.*/
input[type='radio'] {
    transform: scale(1.5);
}


button {
    background-color: black;
    opacity: unset;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    padding: 10px;
    font-size: 18px;
    border: none;
    margin-bottom: 10px;

}

button:hover {
    background-color: rgb(116, 191, 109);
    text-align: center, bottom;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    padding: 10px;
    font-size: 18px;
}

footer {
    font-size: 16px;
    color: white;
    background-color: black;
    opacity: 0.50;
    width: 100%;
    margin-bottom: -100px;
    display: inline-block;
    text-align: center;
}